
body {
  font-family: 'Baloo', cursive;
  font-size: 18px;
  line-height: 34px;
  color: #777;
  background: url("../images/circles-light.png");
}

* {
  box-sizing: border-box;
}



#logo {
  float: left;
  width: 250px;
  height: 50px;
  text-align: center;
  font-family: 'Baloo', cursive;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background: #4aaaa5;
}

.navbar {
  background: white;
  border: none;
}



.main-container {
  padding-top: 50px;
}

.textbox {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 30px;
}

.textbox-header {
  color: #4aaaa5;
  font-family: 'Baloo', cursive;
  font-weight: bold;
}



footer {
  padding: 10px 0;
  clear: both;
  font-size: 12px;
  color: #ffffff;
  color: #cccccc;
  text-align: center;
  background: #666666;
  border-top: 8px solid #4aaaa5;
}

.text-muted-footer {
  margin-top: 15px;
  color: #fff;
}



.about-me-header {
  margin-bottom: 33px;
  font-family: 'Baloo', cursive;
  font-size: 32px;
  font-weight: bold;
  color: #4aaaa5;
}

#about {
  float: left;
  width: 200px;
  margin: 0 20px 10px 0;
}



.portfolio {
  margin: 20px auto;
}



.form-control {
  border-radius: 0;
  min-width: 100%;
  max-width: 100%;
}

.submit-btn {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: lighter;
  color: #fff;
  background-color: #4aaaa5;
  border: 0;
}

